#  Data Science Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- Github
- RStudio

Some of the popular languages that Data Scientists use are:
1. Python
2. Sql
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Numpy

|Tool|
|----|
|Tensorflow|
|Numpy|
|Caret|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
x = (3*4)+5
print(x)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
x= 200/60
print(x)

3.3333333333333335

## Author
Alexander Tamayo